In [75]:
#import needed libraires...
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [151]:
url=f'https://www.elections.in/parliamentary-constituencies/2009-election-results.html'
r=requests.get(url)
page=r.content
soup=BeautifulSoup(page,'html.parser')
table=soup.find(name='div',attrs={'class':'tablewide'}).find(name='table',attrs={'class':'tableizer-table'})
columns=[]#creating a empy list for taking columns name
for th in table.findAll('th'):
    for text in th:
        columns.append(text)
    all_val=[]#creating this empty list for taking all values of columns...
for val in table.findAll('td'):
    for text in val:
        all_val.append(text)


    #extracting column by column value
columns_values=[list() for i in range(12)]#creating a nested list for taking values of every column seperatly
for i in range(len(columns_values)):
    length=0+i#adding every time value of i in length to setting new value of length..
    for val in range(len(all_val)):
        if length<6720:#6720 is the length of all_val,resaon for adding this line to prevent the index out of range error...
            columns_values[i].append(all_val[length])#appending values list by list
            length+=12#adding 12 in the length, because we have total 12 columns so i taking particular value in particular column... 
df=pd.DataFrame()
for i in range(len(columns_values)):
    new_df=pd.DataFrame(np.array(columns_values[i]))
    df=pd.concat([df,new_df],axis=1,ignore_index=True)
df.columns=[columns]
df.to_csv('general_lok_sabha-election_2009.csv',index=False)

<ipython-input-151-90630489534c>:26: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  new_df=pd.DataFrame(np.array(columns_values[i]))

In [152]:
data=pd.read_csv('general_lok_sabha-election_2009.csv')
data.head()

,State,PC No.,PC Name,Category,Winner,Gender,Party,Vote,Runner Up,Gender.1,Party.1,Vote.1
0,Andhra Pradesh,1,Adilabad,(ST),Ramesh Rathod,M,TDP,372268,Kotnak Ramesh,M,INC,257181
1,Andhra Pradesh,2,Peddapalli,(SC),Dr. Gaddam Vivekanand,M,INC,313748,Gomasa Srinivas,M,TRS,264731
2,Andhra Pradesh,3,Karimnagar,GEN,Ponnam Prabhakar,M,INC,317927,Vinod Kumar Boinapally,M,TRS,267684
3,Andhra Pradesh,4,Nizamabad,GEN,Madhu Goud Yaskhi,M,INC,296504,Bigala Ganesh Gupta,M,TRS,236114
4,Andhra Pradesh,5,Zahirabad,GEN,Suresh Kumar Shetkar,M,INC,395767,Syed Yousuf Ali,M,TRS,378360

In [153]:
data.isnull().sum()

State        0
 PC No.      0
PC Name      0
Category     0
Winner       0
Gender       0
Party        0
Vote         0
Runner Up    0
Gender.1     0
Party.1      0
Vote.1       0
dtype: int64